.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rmDec {
  text-decoration: none;
  list-style: none;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6CB4EE;
  height: 100vh;
  opacity: 1;
}

body {
  z-index: 10;
  background-color: #007FFF;
  color: white;
  height: 50%;
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 19% 80%;
}

h1 {
  grid-column: span 2;
  padding-left: 9%;
}

li:nth-child(odd) {
  padding: 0 10px;
  background: #007FFF;
}

li:nth-child(even) {
  padding: 0 10px;
  background: #89CFF0;
}

.refresh {
  display: flex;
  gap: 10px;
}

.board {
  overflow: scroll;
  margin-top: 0;
  min-width: 60%;
  padding: 0;
  border: 2px solid black;
  background-color: #7FFFD4;
}

.refreshBtn {
  align-self: center;
}

form.column {
  align-items: flex-start;
  gap: 10px;
}
